<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>402936531127-ggqounbuagd6jonlihgch5kl4rip4loi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.402936531127-ggqounbuagd6jonlihgch5kl4rip4loi</string>
	<key>API_KEY</key>
	<string>AIzaSyC55jiGwKpHv-F27lZQfzj62Rocw1Xl-Uc</string>
	<key>GCM_SENDER_ID</key>
	<string>402936531127</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.veronikababii.GettingActiveApp</string>
	<key>PROJECT_ID</key>
	<string>gettingactiveapp</string>
	<key>STORAGE_BUCKET</key>
	<string>gettingactiveapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:402936531127:ios:0cb0f559aa5778c7162532</string>
	<key>DATABASE_URL</key>
	<string>https://gettingactiveapp.firebaseio.com</string>
</dict>
</plist>